extends layout

block content

  h1 Автор: #{author.name}
  p #{author.date_of_birth_formatted} - #{author.date_of_death_formatted}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 Книги
    
    dl
      each book in author_books
        dt 
          a(href=book.url) #{book.title}
        dd #{book.summary}

      else
        p У данного автора нет книг.
    hr
  p
    a(href=author.url+'/delete') Удалить автора